@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
}


body{
    background-image: url('/donate-background.jpg');
    color: white;
    position: relative;
    font-family: 'Roboto', sans-serif;

}

header h1{
text-align: center;
font-size: xx-large;
background-color: rgba(96, 96, 96,.8);
color: white;
height: 70px;
}

main{
    display: grid;
    grid-template-columns: .8fr 2fr;
    gap: 100px;
    margin-left: 10%;
    margin-top: 5%;
}
section label {
    text-align: left;
    display: inline;
    padding: 5px;

}

section input,select{
    position: absolute;
    left: 197px;
    width: 46%;
} 

section input:last-child{
    background-color:rgba(10, 10, 10, 0.8);
    color: white;
}

table{
margin-top: 35px;
    
}
#formSection{

    background-color: rgba(96, 96, 96,.8);
    width: 410px;
    height: 110px;
    padding: 23px;
    text-align: left;
    display: inline-block;
    position: relative;

}

#tablesection{

    background-color: rgba(96, 96, 96,.8);
    width: 74%;
    /* padding: 3%; */

}
td,th{
    margin-top: 1%;
    text-align: center;
    width: 50%;
    padding: 8px;
    border: solid white 1px;
}
div  p {

    text-align: center;
    padding: 10px;
}


footer p {
    text-align: center;
    position: absolute;
    bottom: -300px;
    height: 50px;
    padding: 24px;
    background-color: rgba(96, 96, 96,.8);
    width: 100%;
}